.table {
    flex-direction: row;
}

.table .titles, .table .values {
    flex-direction: column;
}

.table .values div {
    display: flex;
    flex-direction: row;
}


.table .values * {
    margin: 0px 5px;
    width: 150px;
}

.table .values div .divide {
    margin-left: 50px;
}
