.table {
    flex-direction: column;
}

.table .titles, .table .values {
    flex-direction: row;
    width: 100%;
}

.table .titles span, .table .values div  {
    width: 20%;
    text-align: center;
}

.table .values div {
    flex-direction: column;
    align-items: center;
}

.table .values div * {
    width: 80%;
    height: 10%;
    margin-bottom: 2px;
}

.table .values div .divide {
    margin-top: 50px;
}
