body {
    font-family: sans-serif;
}

.table {
    display: flex;
    width: 90%;
    margin: auto;
}

.table .titles, .table .values {
    display: flex;
    margin: 0px 5px;
}

.table .titles {
    width: 20%;
    text-align: right;
    white-space: nowrap;
}

.table .titles span {
    margin: 2.8px 0px; /* Related to .table .values div {margin} */
}

.table .values {
    width: 80%;
}

.table .values div {
    display: flex;
    width: 100%;
    margin: 2px 0px;  /* Related to .table .titles span {margin} */
}


.table .values .light * {
    background-color: #e9e7e8;
}

.table .values .dark * {
    background-color: #d3d1d2;
}

.table .values div #decimalValue {
    width: 100%;
}

.table .values div * {
    display: inline-block;
    width: 10%;
}
